[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"
torchvision = "*"
torch = "*"
# torch-geometric = "*"
# torch-sparse = "*"
pyyaml = "*"
pytorchtools = "*"
tensorboard = "*"
networkx = "*"
more_itertools = "*"

[dev-packages]
jupyterlab = "*"
matplotlib = "*"
ipywidgets = "*"
nodejs = "*"
jupyterlab_code_formatter = "*"
flake8 = "*"
autopep8 = "*"
isort = "*"


[requires]
python_version = "3.7"
